<nav class="navbar navbar-expand-sm navbar-light bg-light p-0">
    <a class="navbar-brand" href="/">
        <img src="/images/avatar.png" class="img img-responsive" height="40">Respondo
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://github.com/waterfausett/respondo" target="blank"><i class="fa fa-github"></i> GitHub <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0 pr-2">
            <% if (user) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="<%- user.avatar_url %>" class="img img-fluid rounded-circle" width="35" alt="default discord icon"
                            onerror="this.src='https://cdn.discordapp.com/embed/avatars/1.png';">
                        <%- user.username %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            <% } else { %>
                <li class="nav-item btn"><a href="/auth">Login</a></li>
            <% } %>
        </ul>

    </div>
</nav>