<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <a class="navbar-brand" href="https://github.com/waterfausett/respondo" target="blank">
        <img src="/images/avatar.png" class="img img-responsive" height="40">Respondo
    </a>
    <button class="navbar-toggler invis" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
</nav>