<style>
    img.active { box-shadow: 0 0 0 0.6rem rgba(0,123,255,.25); }
</style>

<div class="container-fluid text-center pt-3">
    <div class="mb-5">
        <img src="/images/sad_baby.jpg" class="img-fluid rounded active" />
    </div>
    <h2>I can't believe we've done this&hellip;</h3>
    <p class="mt-5 text-muted">
        Seriously&hellip;we don't know what this page is, or where it's gone&hellip;
        <br/>&hellip;better <a href="/">head home</a> now I guess ¯\_(ツ)_/¯
    </p>
    
</div>