<style>
    .deleting {
        opacity: 0.4;
    }
    .dirty {
        background: lightyellow !important;
    }
</style>

<div id="content" class="container-fluid">
    <div class="bd-callout bd-callout-info">
        <h5>Configuring <code>Triggers</code> and <code>Resopnses</code></h5>
        <p>
            A <code>trigger</code> is a word, or phrase, that will like to <i>trigger</i> a <code>response</code> from <b>respondo</b>.
            <br/>
            <span class="text-muted ml-5">(<code>triggers</code> can be configured to have any number of <code>responses</code> associated with them)</span>
            <br/>
            A <code>response</code> is what <b>respondo</b> will <i>respond</i> with when it recognizes a <i>trigger</i> word.
            <br/>
            <span class="text-muted ml-5">(these can be anything! -- a word, phrase, hyperlink, etc.)</span>
        </p>
        Use the grid below to configure <b>respondo</b> behaves.
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="selGuild1">Selected Guild:</label>
        </div>
        <select class="form-control" id="selGuild"
            data-bind="options: guilds, optionsText: 'name', value: guild, event: { change: fetchTriggers }, optionsCaption: guildsCaption()">
            <option value="{}">Loading guilds&hellip;</option>
        </select>
    </div>

    <div class="table-responsive">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="w-25 sort-toggle no-select" data-bind="click: (data, event) => { toggleSort('trigger', event) }">
                        <span class="pull-left">Trigger</span> <i class="fa fa-sort-alpha-asc pull-right"></i>
                    </th>
                    <th class="w-75 sort-toggle no-select" data-bind="click: (data, event) => { toggleSort('response', event) }">
                        <span class="pull-left">Response</span> <i class="fa pull-right"></i>
                    </th>
                    <th class="text-center" style="min-width: 130px;"><button type="button" class="btn btn-default" disabled data-bind="click: addTrigger, enable: guildId() && !fetchingTriggers()"><i class="fa fa-plus"></i></button></th>
                </tr>
            </thead>
            <tr class="text-center invis" data-bind="css: { invis: !fetchingTriggers() }">
                <td colspan="3">
                    <i class="fa fa-spinner fa-spin"></i>
                </td>
            </tr>
            <tbody class="invis" data-bind="foreach: sortedTriggers, css: { invis: 1 == 2 }">
                <tr data-bind="attr: { 'data-id': id }">
                    <input type="hidden" data-bind="value: id" name="id"/>
                    <td class="w-25">
                        <input type="text" class="form-control inline-edit text-truncate" data-bind="value: trigger" name="trigger"/>
                    </td>
                    <td class="w-75">
                        <input type="text" class="form-control inline-edit text-truncate" data-bind="value: response" name="response"/>
                    </td>
                    <td class="flex-center">
                        <button type="type" value="save" class="btn btn-success mr-3" title="Save" disabled
                            data-bind="click: $parent.updateTrigger"
                            data-loading-text='<i class="fa fa-cog fa-spin"></i>''><i class="fa fa-save"></i></button>

                        <button type="type" value="delete" class="btn btn-danger" title="Delete"
                            data-bind="click: $parent.deleteTrigger"
                            data-loading-text='<i class="fa fa-cog fa-spin"></i>''><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="bd-callout bd-callout-warning">
        <p>Don't see what you're looking for? Make sure you're in the right <code>guild</code>! <span class="text-muted">(change it with the dropdown above)</span></p>
    </div>
</div>

<script src="/javascript/trigger.api.js"></script>
<script>
    (() => {
        $(() => ko.applyBindings(new ViewModel()));

        const MIN_LOADING = 250;

        $('table#data-table').on('input', 'input', (event) => {
            const $targetRow = $(event.target).parents('tr[data-id]');
            $targetRow
                .find('button[value="save"]:disabled')
                .prop('disabled', false);

            $targetRow.addClass('dirty');
        });

        function ViewModel()
        {
            const self = this;

            self.fetchingGuilds = ko.observable(true);
            self.fetchGuilds = () => {
                self.fetchingGuilds(true);
                self.guilds([]);
                self.guildsCaption('Loading guilds...');
                fetch('https://discord.com/api/users/@me/guilds',{
                    headers: {
                    'Authorization': 'Bearer <%- user.accessToken %>'
                    }
                }).then((response) => {
                    if (!response.ok) {
                        throw Error(response.statusText);
                    }
                    return response;
                })
                .then(res => res.json())
                .then(guilds => guilds.map((guild) => Object.assign(guild, {icon_url: `https://cdn.discordapp.com/${guild.id}/${guild.icon}`})))
                .then(guilds => {
                    self.guilds(guilds);
                    if (guilds.length === 1) {
                        self.guild(guilds[0]);
                        self.fetchTriggers();
                    }
                })
                .catch(showError)
                .then(_ => self.fetchingGuilds(false))
                .then(_ => self.guildsCaption(self.guilds().length === 0 ? 'None' : null));
            }
                
            self.guilds = ko.observableArray();
            self.guildsCaption = ko.observable();
            self.fetchGuilds();

            self.guild = ko.observable();
            self.guildId = ko.pureComputed(() => self.guild() && self.guild().id);

            self.fetchingTriggers = ko.observable(false);
            self.fetchTriggers = () => {
                self.triggers([]);
                const guildId = self.guildId();
                if (!guildId) return;

                const fetchStart = Date.now();
                self.fetchingTriggers(true);
                triggerApi.getAll(self.guildId())
                .then(data => delay(MIN_LOADING - (Date.now() - fetchStart)).then(_ => data))
                .then(triggers => self.triggers(triggers))
                .catch(showError)
                .then(_ => self.fetchingTriggers(false));
            }
                
            self.triggers = ko.observableArray();

            self.sortColumn = ko.observable('trigger');
            self.sortAsc = ko.observable(true);

            self.toggleSort = (column, event, x) => {
                self.sortAsc(self.sortColumn() === column ? !self.sortAsc() : true);
                self.sortColumn(column);

                $(event.currentTarget).parent().find('i').removeClass((index, className) => (className.match(/\bfa-sort-\S+/g) || []).join(' '));
                const sortIcon = $(event.currentTarget).find('i');
                sortIcon.addClass(`fa-sort-alpha-${(self.sortAsc() ? 'asc' : 'desc')}`)
            }
            
            self.sortedTriggers = ko.pureComputed(() => {
                const sortColumn = self.sortColumn();
                const asc = self.sortAsc();
                return self.triggers.sorted((left, right) => {
                    const sortValue = left[sortColumn] === right[sortColumn] ? left.id > right.id ? 1 : -1
                        : left[sortColumn] < right[sortColumn] ? -1
                        : 1;

                    return sortValue * (asc ? 1 : -1);
                });
            });

            self.addTrigger = async () => {
                await Swal.fire({
                    title: 'Add a New Trigger',
                    html:
                        `<hr/>
                        <div class="text-left">
                            <div class="form-group row">
                                <label for="swal-form-trigger" class="col-sm-3 col-form-label">Trigger:</label>
                                <div class="col-sm-9">
                                    <input id="swal-form-trigger" type="text" class="form-control" placeholder="hello" aria-label="Trigger" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="swal-form-response">Response:</label>
                                <textarea id="swal-form-response" type="text" class="form-control" placeholder="world" aria-label="Response" required></textarea>
                            </div>
                        </div>
                        <hr/>
                        <div class="bd-callout bd-callout-info text-left">
                            <h5>Triggers with multiple responses</h5>
                            When there are multiple <code>responses</code> configured for a given <code>trigger</code>, <b>respondo</b> will randomly pick one to reply with.
                        </div>`,
                    focusConfirm: false,
                    confirmButtonText: 'Save',
                    confirmButtonColor: '#28a745',
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    customClass: {
                        actions: 'justify-content-end'
                    },
                    preConfirm: () => {
                        const data = {
                            guildId: self.guildId(),
                            trigger: document.getElementById('swal-form-trigger').value,
                            response: document.getElementById('swal-form-response').value
                        };

                        if (!data.trigger) { Swal.showValidationMessage('<code>trigger</code>&nbsp; cannot be empty!'); return false; }
                        if (!data.response) { Swal.showValidationMessage('<code>response</code>&nbsp; cannot be empty!'); return false; }

                        return triggerApi.add(data)
                            .then(newObj => delay(MIN_LOADING).then(_ => self.triggers.push(newObj)))
                            .then(_ => { Toast.fire({ icon: 'success', title: 'added' }) })
                            .catch(error => Swal.showValidationMessage(`Request failed: <br/>${error}`));
                    }
                });
            };

            self.updateTrigger = (item, event) => {
                const $btn = $(event.currentTarget);
                const action = triggerApi.update(item);

                applyUXEffects(item, $btn, action)
                    .then(_ => self.triggers.valueHasMutated());
            }

            self.deleteTrigger = (item, event) => {
                const $btn = $(event.currentTarget);

                Swal.fire({
                    icon: 'warning',
                    title: 'Are you sure?',
                    html:
                        `<hr/>
                        <div class="text-left">
                            <label>Trigger:</label>
                            <code>${item.trigger}</code>
                        </div>
                        <div class="text-left">
                            <label>Response:</label>
                            <code>${item.response}</code>
                        </div>
                        <hr/>
                        <div class="bd-callout bd-callout-danger text-left">
                            <h5>Deleting Triggers</h5>
                            This action will permanantly wipe a <code>trigger</code>/<code>response</code> combination from <b>respondo</b>'s memory.
                        </div>`,
                    confirmButtonText: '🔥 Burn it with fire!',
                    confirmButtonColor: '#dc3545',
                    showCancelButton: true,
                    cancelButtonText: 'Wait&hellip;',
                    showLoaderOnConfirm: true,
                    customClass: {
                        actions: 'justify-content-end'
                    },
                    preConfirm: () => {
                        const action = triggerApi.delete(item);

                        return applyUXEffects(item, $btn, action)
                            .then(_ => self.triggers.remove(x => x.id === item.id));
                    }
                });
            }
        }

        function applyUXEffects(item, $submitter, action) {
            const actionStart = Date.now();
            $submitter.button('loading');

            const $formRow = $(`tr[data-id=${item.id}]`);
            const $formInputs = $formRow.find(':input');

            $formInputs.prop('disabled', true);

            return action
                .then(() => delay(MIN_LOADING - (Date.now() - actionStart)))
                .then(_ => {
                    if ($submitter.val() == 'delete') {
                        $formRow.addClass('deleting');
                        return delay(250);
                    }
                    else {
                        $formInputs.prop('disabled', false);
                        $formRow.removeClass('dirty');
                        $submitter.button('reset');
                    }
                })
                .then(_ => $formRow.find('button[value="save"]').prop('disabled', true))
                .then(_ => { Toast.fire({ icon: 'success', title: 'got it' }) })
                .catch(error => {
                    $formInputs.prop('disabled', false);
                    $submitter.button('reset');

                    showError(error);
                });
        }

        function showError(error) {
            Swal.fire({
                title: 'Oh No!',
                html: `<hr/> Erm&hellip;not sure what happened there <br/> but it didn\'t work :/ 
                    <hr/> 
                    <div class="error-messages">
                        <div class="col-xs-12">
                            <p>${error.message}</p>
                        </div>
                    </div>`,
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }
    })();
</script>