<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/main.css">
    <style>
        body { font-family: sans-serif;}
    </style>
</head>

<body>
<% if (user) { %>
    <script>
        window.location.href = '/'
    </script>
<% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        Swal.fire({
            icon: 'error',
            title: "Who goes there!?",
            allowOutsideClick: false,
            allowEscapeKey: false,
            confirmButtonText: "Log in with Discord",
            showLoaderOnConfirm: true,
            showClass: { popup: 'swal2-show', backdrop: 'swal-logout-bg' },
            preConfirm: () => {
                window.location.href = '/auth'
                return false;
            }
        });
    </script>
<% } %>
</body>
</html>